.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 566px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 402px;
  margin-top: 14px;
  margin-bottom: 0;
}
.u-section-1 .u-icon-1 {
  width: 45px;
  margin: 0 30px 0 auto;

}
.plusIco > img{
  width: 45px;
  height: 45px;
  margin: -10px 30px 0 auto;

}
.heartIco > img{
  width: 45px;
  height: 45px;
  margin: -10px 30px 0 auto;

}

.heartIco:hover::after {

  position: relative; /* Абсолютное позиционирование */
  left: 100%;
   /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgb(255, 219, 0); /* Полупрозрачный цвет фона */
  color: #000000; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 14px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */
}
.plusIco:hover::after {

  position: relative;  /* Абсолютное позиционирование */
  left: 100%;
  top: 50px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgb(255, 219, 0); /* Полупрозрачный цвет фона */
  color: #000000; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 14px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */
}



.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 4px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -25px 337px 0 96px;
}

.u-section-1 .u-text-4 {
  margin: 9px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 566px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-1 .u-text-5 {
  margin: 6px 225px 0 191px;
}

.u-section-1 .u-text-6 {
  margin: -25px auto 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -30px auto 0 199px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-9 {
  margin: -26px 170px 0 200px;
}

.u-section-1 .u-text-10 {
  margin: -25px 357px 50px 300px;
}

.u-section-1 .u-text-101 {
  margin: 21px 357px 0 30px;
}

.u-section-1 .u-form-1 {
  height: 83px;
  margin: 13px 174px 0 30px;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 4px auto 0 209px;
}

.u-section-1 .u-text-12 {
  margin: -29px 163px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -24px auto 0 30px;
}

.u-section-1 .u-text-14 {
  margin: 18px auto 0 180px;
}

.u-section-1 .u-text-15 {
  margin: -25px auto 0 30px;
}

.u-section-1 .u-text-16 {
  margin: 18px auto 0 180px;
}

.u-section-1 .u-text-17 {
  margin: -25px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-1 .u-image-1 {
    height: 243px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 287px;
    margin-left: 111px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 175px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 19px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -25px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 32px;
    margin-right: 257px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 91px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 6px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 223px;
    margin-left: 81px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 120px;
    margin-left: 114px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 126px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 147px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 133px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 309px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -8px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 190px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 23px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 6px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 84px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 72px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 72px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-form-1 {
  height: 233px;
  width: 544px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}

.u-section-2 .u-group-1 {
  min-height: 250px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-form-1 {
  height: 233px;
  width: 854px;
  margin: 9px auto 0;
}

.u-section-2 .u-group-2 {
  width: 859px;
  min-height: 144px;
  height: auto;
  margin: 9px auto 10px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-2 .u-text-1 {
  margin: 5px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 11px 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 660px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-1 {
    width: 520px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 320px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }
}