<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <title>Add new Lot</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link th:href="@{/css/stylesaddLot.css}" rel="stylesheet" />
    <link th:href="@{/css/forTopMenu.css}" rel="stylesheet" />


    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




</head>
    <body class="u-body">
        <div th:insert = "topMenu.html::menu" ></div>
        <div class="banner"></div>
        <form action="/auction/home/add" method="post" enctype="multipart/form-data" th:object="${lotForm}">
        <div class="add">
            <div class="group2">
                <label>[[#{addLot.nameL}]] </label>
                <input type = 'text' name="name" required th:field="*{name}">
                <pre th:errors="*{name}" class="error"></pre>
            </div>

            <div class="group2">
                <label>[[#{addLot.stPrice}]]</label>
                <input type="text" name="startPrice" required th:field="*{startPrice}">
                <pre th:errors="*{startPrice}" class="error"></pre>
            </div>

            <div class="group2">
                <label>[[#{addLot.buyPrice}]]</label>
                <input type="text" name="redemptionPrice" required th:field="*{redemptionPrice}">
                <pre th:errors="*{redemptionPrice}" class="error"></pre>
            </div>

            <div class="group2">
                <label>[[#{addLot.pic}]] </label>
                <input type = "file" name="mainImg"  id="mainUpload" required th:field="*{mainImg}">
                <p class="error" id="error1" th:errors="*{mainImg}"></p>
            </div>

            <div class="group3">
                <img src="/ico/plus.png" onclick="addImg()" class="delIco">
            </div>

            <ul class="moreImg" id="imgs">
                <li hidden>
                    <input type = "file">
                    <img src="/ico/plus.png" class="delIco" onсlick="this.parentNode.parentNode.removeChild(this.parentNode);">
                </li>
            </ul>
            <pre th:errors="*{images}" class="error"></pre>

            <div class="group2">
                <label>[[#{addLot.describe}]] </label>
                <textarea name="description" th:field="*{description}"></textarea>
            </div>

            <div class="group2">
                <label>[[#{addLot.date}]]</label>
                <input type="datetime-local" name="endDate" required th:field="*{endDate}">
                <pre th:errors="*{endDate}" class="error"></pre>
            </div>

            <div class="but">
                <button type="submit" class="enterbtn" id="sub">[[#{addLot.ent}]]</button>
            </div>
        </div>
        </form>
        <script src="/js/addLot.js"></script>
    </body>
</html>