<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Auction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/topMenu.css}" rel="stylesheet" />
</head>
    <body>
    <div th:insert = "topMenu.html::menu" ></div>
    <div>
        <div th:each="lot : ${lots} ">
            <p th:text="${lot.getName()}" ></p>
            <div>
                <img th:src="'/img/' + ${lot.getMainImg()}" width="400">
            </div>
            <p th:text="${lot.getCurrentPrice()}" ></p>
            <a th:href="'/auction/home/'+${lot.getId()}" >Подробнее</a>
            <hr>
        </div>
    </div>
    </body>
</html>