<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Auction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/css/forTopMenu.css}" rel="stylesheet" />


    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

    <link rel="stylesheet" th:href="@{/css/homePage.css}" media="screen">

<body class="u-body u-xl-mode">
<div th:insert = "topMenu.html::menu" ></div>
<section class="u-clearfix u-palette-3-light-3 u-section-1" id="sec-dadc">
    <div class="u-clearfix u-sheet u-sheet-1"  >
        <div class="u-container-style u-group u-palette-1-light-3 u-group-1" th:each="lot : ${lots}">
            <div class="u-container-layout u-container-layout-1">
                <h3 class="u-custom-font u-font-roboto u-text u-text-default u-text-1" th:text="${lot.getName()}"></h3>
                <img class="u-image u-image-default u-image-1" th:src="'/img/' + ${lot.getMainImg()}" alt="" data-image-width="480" data-image-height="720">
                <a th:href="'/auction/home/'+${lot.getId()}" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-3-light-3 u-radius-6 u-btn-1">Хочу купить</a>
                <h5 class="u-custom-font u-font-roboto u-text u-text-2" th:text="|${lot.getCurrentPrice()} крон | "></h5>
            </div>
        </div>



        <div th:if="${lots.totalPages > 0}" class="pagination">

                    <pre th:text="|${lots.number + 1}/${lots.getTotalPages()}|"></pre>
				    <span th:if="${lots.hasPrevious()}" th:switch="${lots.number-1 > 0}">
				        <a th:case="${true}" th:href="@{'/auction/home?page=' + ${lots.number-1}}">[[#{homePage.stepB}]]</a>
                        <div class="stepB">
				            <a th:case="*" th:href="@{/auction/home/}">Prev</a>
                        </div>
				    </span>
                    <span th:if="${lots.hasNext()}">
                        <div class="stepF">
				            <a th:href="@{'/auction/home?page=' + ${lots.number+1}}">[[#{homePage.stepF}]]</a>
                        </div>
                    </span>
        </div>
    </div>
</section>
<div th:insert = "topMenu.html::up" ></div>
</body>
</html>
