<!DOCTYPE html>
<html lang="en">
<head>
    <title>Make your bets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/topMenu.css}" rel="stylesheet" />
    <link th:href="@{/css/forLot.css}" rel="stylesheet" />
</head>
<body>
        <div th:insert = "topMenu.html::menu" ></div>
        <div class="lot">
            <div th:each="lot : ${lot} ">
                <p th:text="${lot.getName}" class="leftcontent" ></p>
                <div>
                    <img th:src="'/img/' + ${lot.getMainImg()}" class="img">
                </div>
                <p th:text="${lot.getDescription()}" class="leftcontent" ></p>
                <pre class="rightcontent">Владелец послдней ставки: </pre>
                <p th:text="${lot.getOwner()}" class="rightcontent" ></p>
                <pre class="rightcontent" >Текущая цена:</pre>
                <p th:text="${lot.getCurrentPrice()}" class="rightcontent" ></p>
                <pre class="rightcontent" >Выкупная цена:</pre>
                <p th:text="${lot.getRedemptionPrice()}" class="rightcontent" ></p>
                <pre class="rightcontent">Аукцион начался:</pre>
                <p th:text="${lot.getStartDateString()}"  class="rightcontent"></p>
                <pre class="rightcontent" >Аукцион окончится: </pre>
                <p th:text="${lot.getEndDateString()}" class="rightcontent" ></p>
            </div>
        </div>
</body>
</html>