<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link th:href="@{/css/stylesStart.css}" rel="stylesheet" />
</head>
<body>
<div class="banner"></div>
<h1 align="center">Регистрация</h1>
    <form action="/auction/registration" method="post">

        <div class="group">
            <label for="email"><b>Email:</b></label>
            <input type="email" placeholder="email" name="email" id="email" th:value="${email}" required>
            <pre th:text="${emailError}" class="error"></pre>
        </div>

        <div class="group">
            <label for="nickname"><b>Nickname:</b></label>
            <input type="text" placeholder="nickname" maxlength="20" minlength="4" name="username" id="nickname" th:value="${username}"
                   onblur="checkLog()" required>
            <pre th:text="${nameError}" class="error" id = "logError"></pre>
        </div>

        <div class="group">
            <label for="password"><b>Password:</b></label>
            <input type="password" maxlength="20" minlength="8" placeholder="password" name="password" id="password" onblur="checkPass()" required>
            <pre  id = "passError" class="error"></pre>
        </div>

        <div class="group">
            <center><button type="submit" class="registerbtn" id="regbutton">Зарегистрироваться</button></center>
        </div>

        <div class="signin">
            <p align="center">Уже есть учетная запись?<a href="/auction">Войти</a></p>
        </div>
    </form>
    <script src="/js/registration.js"></script>
</body>
</html>