<div th:fragment = "menu">
    <div class="menu">
        <ul >
            <li class="left" ><a href="/auction/home">Главная</a></li>
            <li class="left" ><a href="/auction/home/add">Добавить лот</a></li>
            <li class="left" ><a href="#">Избранное</a></li>
            <li class="left" >
                <form action="/auction/home" method="post" class="search">
                    <a class="searchLine">
                        <input name="s" placeholder="Искать здесь..." type="search">
                    </a>
                    <a class="searchBut">
                        <button type="submit">Поиск</button>
                    </a>
                </form>
            </li>
            <li class="right" ><a href="#">Профиль</a></li>
            <li class="right" ><pre th:text = "${#httpServletRequest.remoteUser}"></pre></li>
            <li class="right" ><a href="/logout"> ЛИВАЮ НАХУЙ </a></li>
        </ul>
    </div>
</div>
